<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-buttons>
        <ion-button *ngIf="!displayDialog" (click)="toggleDialog($event)">
          <ion-icon size=large name="add-circle-outline"></ion-icon>
          <ion-text class="ion-padding-start">Add New Location</ion-text>
        </ion-button>
        <ion-button *ngIf="displayDialog" (click)="toggleDialog($event)">
          <ion-icon size=large name="checkmark-circle-outline"></ion-icon>
          <ion-text class="ion-padding-start">Done</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content>
      <ion-item-group *ngIf="displayDialog">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input name="city" [(ngModel)]="cityName" placeholder="Enter a City"></ion-input>
            </ion-col>
            <ion-col size="2">
            <ion-button (click)="addNewLocation($event)"> 
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-group>
      <ion-list *ngFor="let name of currentLocations">
        {{name}}
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
